[*.cs]

# SA1616: Element return value documentation should have text
dotnet_diagnostic.SA1616.severity = none

# SA1614: Element parameter documentation should have text
dotnet_diagnostic.SA1614.severity = none
